<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.templatevilla.healthcalculator">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".pdf"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appId" /> <!-- <activity android:name="com.github.pdfviewer.PDFViewActivity" -->
        <!-- tools:ignore="MissingClass" /> -->

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity android:name="com.github.pdfviewer.PDFViewActivity" -->
        <!-- android:theme="@style/CustomActivityThemeNoTitle"/> -->
        <activity
            android:name=".UnderstandBMI"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Result"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Chart"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BodyMassIndex"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/BlueTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CalorieCalculator"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Chart_Calorie"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Calorie_result"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".HeartRateCalculator"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Chart_heart"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Heartrateresult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BloodVolResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BloodVolumeCalc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BloodDonation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CanIDonate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ChartBloodVolume"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".EligibilityCheck"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BloodDonationRes"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BloodAlcoholContent"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Chart_Alcohol"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BloodAlcoholResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"  android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".WaterIntakeCalc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Chart_Water"
            android:screenOrientation="portrait" android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".WaterIntakeResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Calculator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".IdealWeightCalc"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".IdealWeightResult"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ChartIdeal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BodyFatHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Chart_Fat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BodyFatMale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BodyFatResult"
            android:screenOrientation="portrait" android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- android:configChanges="screenSize|orientation|screenLayout|density" -->
        <activity
            android:name=".BodyFatFemale"
            android:screenOrientation="portrait" android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PregnancyCalc"
            android:screenOrientation="portrait" android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ChartPreg"
            android:screenOrientation="portrait" android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PregnancyCalcRes"
            android:screenOrientation="portrait" android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".OvulationCalc"
            android:screenOrientation="portrait" android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ChartOvu"
            android:screenOrientation="portrait" android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".OvulationCalcRes"
            android:screenOrientation="portrait" android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".RespirationRate" android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".RespirationRateResult" android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BloodPressure"
            android:screenOrientation="portrait" android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BpResult"
            android:screenOrientation="portrait" android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
            <activity
                android:name=".HealthAdvices"
                android:screenOrientation="portrait" android:exported="true"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden" />
            <activity
                android:name=".DiseaseDetector"
                android:screenOrientation="portrait" android:exported="true"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>